<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.7/angular.js" data-semver="1.2.7"></script>
    <script src="app.js"></script>
</head>
        <body>
            <div ng-controller="controllerA">
                <input data-ng-model="teamname" type="text" data-ng-change="changeTeam()" />
            </div>
            <div ng-controller="controllerB">You typed: {{team}}<br />
                <input type="button" value="Confirm" data-ng-click="confirm()" />
            </div>
            <div ng-controller="controllerC">{{team}}</div>
        </body>
</html>

